<section class="mx-auto flex max-w-3xl items-center justify-between pt-8 md:pt-12 lg:pt-24">
	<div class="flex w-full flex-col gap-y-4">
		<h2 class="border-b border-primary pb-2 text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl">
			About Me
		</h2>
		<p class="text-pretty text-secondary">
			My journey is one of transformation from the meticulous world of jewelry crafting to the
			dynamic realms of tech innovation. I'm Felipe. It all started in the quiet of my jewelry
			workshop, where the precision of 3D design first caught my eye, serving as a bridge from
			traditional craftsmanship to the digital age. The intrigue of blockchain technology was what
			truly captivated me, guiding me towards learning Solidity and JavaScript, the languages of
			smart contracts. Today, my focus lies on Next.js and NestJS, navigating through the tech
			industry's rapid currents with a blend of curiosity and determination.
		</p>
		<p class="text-pretty text-secondary">
			I take my time to get things right, and that makes my work better. I like working by myself,
			but I also see how much you can learn by being part of a team. When I'm not coding, I enjoy
			playing football, reading about Stoic philosophy, or relaxing by the river on Sundays. It's
			all about keeping a good balance, just like in coding.
		</p>
	</div>
</section>
