<section class="mx-auto flex max-w-3xl items-center justify-between pt-8 md:pt-12 lg:pt-24">
	<div class="flex w-full flex-col gap-y-4">
		<h2 class="border-b border-primary pb-2 text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl">
			About
		</h2>
		<p class="text-pretty text-secondary">
			As a Full Stack Engineer, I have successfully taken multiple products from 0 to 1. I lead
			teams effectively, ensuring an environment where people can do their best work. Currently, I
			work mostly with TypeScript, React, Node.js, and GraphQL. I have over 8 years of experience in
			working remotely with companies all around the world.
		</p>
	</div>
</section>
