<section class="mx-auto flex items-center justify-between pt-8 md:pt-12 lg:pt-24">
	<div class="flex w-full flex-col gap-y-4">
		<h2 class="border-b border-primary pb-2 text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl">
			About Me
		</h2>
		<p class="text-pretty text-secondary">
			I&apos;m Felipe a former jewelry artisan turned frontend innovator. My story began in a quiet
			workshop, where mastering the precision of 3D design sparked my fascination with digital
			craft. That curiosity led me into the world of blockchain, where I taught myself Solidity and
			JavaScript to build smart contracts before expanding into modern web stacks.
		</p>
		<p class="text-pretty text-secondary">
			Today, I design and build with Next.js and NestJS, bringing the same attention to detail from
			jewelry making into every line of code. I believe in thoughtful, maintainable solutions:
			I&apos;ll take the extra time to get things right, but I&apos;m equally energized by
			collaborative teams that push me to grow.
		</p>
		<p class="text-pretty text-secondary">
			Outside of code, you&apos;ll find me on the football field, exploring Stoic philosophy, or
			unwinding by the river always striving for the balance that makes both life and software
			resilient.
		</p>
	</div>
</section>
