<section class="mx-auto flex max-w-3xl items-center justify-between pt-8 md:pt-12 lg:pt-24">
	<div class="flex w-full flex-col gap-y-4">
		<h2 class="border-b border-primary pb-2 text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl">
			About
		</h2>
		<p class="text-pretty text-secondary">
			From the precision of jewelry design to the logic of code, my journey into tech has been
			anything but ordinary. I'm Felipe, and in the span of just over a year, I've transitioned
			industries, taught myself front-end development, and evolved into a full stack role. Driven by
			the transformative power of blockchain, I began with JavaScript and now, I continue to expand
			my tech palette with tools like Next.js and NestJS.
		</p>
		<p class="text-pretty text-secondary">
			My pursuit of perfection might slow my pace, but it elevates my work. I thrive when flying
			solo, yet I recognize the immense value of teamwork and the learning it fosters. Outside of
			the digital realm, you'll find me indulging in football, exploring Stoic philosophy, or
			seeking tranquility by the river on a Sunday, reflecting the balance I strive for in code and
			in life.
		</p>
	</div>
</section>
