<section
  class="mx-auto flex max-w-3xl items-center justify-between pt-8 md:pt-12 lg:pt-24"
>
  <div class="flex w-full flex-col gap-y-4">
    <h2
      class="mb-2 border-b border-primary pb-2 text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl"
    >
      Work Experience
    </h2>
    <ol class="relative ml-1 border-s border-border">
      <li class="-mt-2 mb-10 ms-4">
        <div
          class="absolute -start-2 mt-1.5 h-4 w-4 rounded-full border border-primary bg-primary"
        >
        </div>
        <div
          class="flex flex-col justify-between gap-x-2 text-base sm:flex-row sm:items-center"
        >
          <h3 class="text-lg font-semibold lg:text-xl">Shambala</h3>
          <time class="text-secondary">Sep 2023 - Present</time>
        </div>
        <h4>Full Stack Developer</h4>
        <p class="mt-2 text-secondary">
          Implemented new features, led squad, worked on improving the way
          developers ship the code, started migration from Emotion to Tailwind
          CSS and more. Technologies: React, TypeScript, GraphQL
        </p>
      </li>
      <li class="mb-10 ms-4">
        <div
          class="absolute -start-2 mt-1.5 h-4 w-4 rounded-full border border-primary bg-primary"
        >
        </div>
        <div
          class="flex flex-col justify-between gap-x-2 text-base sm:flex-row sm:items-center"
        >
          <h3 class="text-lg font-semibold lg:text-xl">Partner</h3>
          <time class="text-secondary">Feb 2023 - Sep-2023</time>
        </div>
        <h4>Front End Developer</h4>
        <p class="mt-2 text-secondary">
          Implemented new features, led squad, worked on improving the way
          developers ship the code, started migration from Emotion to Tailwind
          CSS and more. Technologies: React, TypeScript, GraphQL
        </p>
      </li>
      <li class="ms-4">
        <div
          class="absolute -start-2 mt-1.5 h-4 w-4 rounded-full border border-primary bg-primary"
        >
        </div>
        <div
          class="flex flex-col justify-between gap-x-2 text-base sm:flex-row sm:items-center"
        >
          <h3 class="text-lg font-semibold lg:text-xl">Semiluna</h3>
          <time class="text-secondary">July 2018 - Jan 2023</time>
        </div>
        <h4>Co-Funder & 3D Designer</h4>
        <p class="mt-2 text-secondary">
          Implemented new features, led squad, worked on improving the way
          developers ship the code, started migration from Emotion to Tailwind
          CSS and more. Technologies: React, TypeScript, GraphQL
        </p>
      </li>
    </ol>
  </div>
</section>
