---
import Layout from '@/layouts/Layout.astro';
import HeroSection from '@/components/sections/Hero.astro';
import AboutSection from '@/components/sections/AboutSection.astro';
import ExperienceSection from '@/components/sections/ExperienceSection.astro';
import SkillsSection from '@/components/sections/SkillsSection.astro';
import ProjectsSection from '@/components/sections/ProjectsSection.astro';
---

<Layout title="Felipe Pedreros | Full Stack Developer.">
	<main class="container max-w-3xl">
		<HeroSection />
		<div id="experience" class="-mt-8 pt-8 md:pt-4 lg:-mt-0 lg:pt-0">
			<ExperienceSection />
		</div>
		<!-- <div id="projects" class="-mt-8 pt-8 md:pt-4 lg:-mt-12 lg:pt-0">
			<ProjectsSection />
		</div> -->
		<div id="skills" class="-mt-8 pt-8 md:pt-4 lg:-mt-12 lg:pt-0">
			<SkillsSection />
		</div>
		<AboutSection />
	</main>
</Layout>
