---
import Layout from "@/layouts/Layout.astro";
import HeroSection from "@/components/sections/HeroSection.astro";
import AboutSection from "@/components/sections/AboutSection.astro";
import ExperienceSection from "@/components/sections/ExperienceSection.astro";
import SkillsSection from "@/components/sections/SkillsSection.astro";
import ProjectsSection from "@/components/sections/ProjectsSection.astro";
---

<Layout title="Felipe Pedreros | Full Stack Developer.">
  <main class="container w-full">
    <HeroSection />
    <div id="experience" class="-mt-16 pt-8 md:pt-4 lg:pt-0 lg:-mt-24">
      <ExperienceSection />
    </div>
    <div id="projects" class="-mt-8 pt-8 md:pt-4 lg:pt-0 lg:-mt-12">
      <ProjectsSection />
    </div>
    <div id="skills" class="-mt-8 pt-8 md:pt-4 lg:pt-0 lg:-mt-12">
      <SkillsSection />
    </div>
    <AboutSection />
  </main>
</Layout>
