---
import Layout from "@layouts/Layout.astro";
import HeroSection from "@components/HeroSection.astro";
import AboutSection from "@components/AboutSection.astro";
import ExperienceSection from "@components/ExperienceSection.astro";
import SkillsSection from "@components/SkillsSection.astro";
import ProjectsSection from "@components/ProjectsSection.astro";
---

<Layout title="Felipe Pedreros | Full Stack Developer.">
  <main class="container w-full">
    <HeroSection />
    <AboutSection />
    <ExperienceSection />
    <SkillsSection />
    <ProjectsSection />
  </main>
</Layout>
