<footer class="container pb-6 pt-8 md:pb-10 md:pt-12 lg:pt-24">
  <div
    class="flex flex-col justify-between gap-2 border-t border-[#1a1a1a] pt-2 sm:flex-row sm:items-center"
  >
    <span class="text-sm"> © Felipe Pedreros 2024</span>
    <nav class="flex flex-wrap gap-x-4 sm:items-center">
      <a
        class="hover:underline hover:underline-offset-2"
        href="https://github.com/AFPedreros" target="_blank">Github</a
      >
      <a
        class="hover:underline hover:underline-offset-2"
        href="https://www.linkedin.com/in/afelipe-pedreros" target="_blank">LinkedIn</a
      >
      <a
        class="hover:underline hover:underline-offset-2"
        href="https://twitter.com/AFelipePedreros" target="_blank">Twitter</a
      >
    </nav>
  </div>
</footer>
