---
import NavItem from './NavItem.astro';
---

<footer class="container pb-6 pt-8 md:pb-10 md:pt-12 lg:pt-24">
	<div
		class="flex flex-col justify-between gap-2 border-t border-primary pt-2 sm:flex-row sm:items-center"
	>
		<span class="text-sm"> Felipe Pedreros 2025</span>
		<nav class="flex flex-wrap gap-x-4 sm:items-center">
			<NavItem url="https://github.com/AFPedreros" target="_blank">Github</NavItem>
			<NavItem url="https://www.linkedin.com/in/afelipe-pedreros" target="_blank">LinkedIn</NavItem>
			<NavItem url="https://twitter.com/AFelipePedreros" target="_blank">Twitter</NavItem>
		</nav>
	</div>
</footer>
