---
import { Icons } from '@/components/Icons';

type Props = {
	url: string;
};
const { url } = Astro.props;
---

<a href={url} class="group/item justify-center text-primary" target="_blank">
	<span class="inline-flex items-center gap-x-1">
		<slot />
		<Icons.arrowUpRight
			className="h-4 w-4 transition-all duration-200 group-hover/item:-translate-y-0.5 group-hover/item:translate-x-0.5"
		/>
	</span>
</a>
