<section
  class="mx-auto flex max-w-3xl items-center justify-between pt-8 md:pt-12 lg:pt-24"
  id="projects"
>
  <div class="flex w-full flex-col gap-y-4">
    <h2
      class="border-b border-[#1a1a1a] pb-2 text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl"
    >
      Projects
    </h2>
    <div class="grid gap-4 sm:grid-cols-2">
      <article
        class="group flex cursor-pointer flex-col rounded-lg border border-[#bababa] p-2 transition duration-1000"
      >
        <h3 class="text-lg font-semibold lg:text-xl">Shambala landing page</h3>
        <p class="text-sm text-[#6b7280]">
          A platform to build and grow your online business.
        </p>
        <div
          class="relative mt-2 aspect-auto h-48 overflow-hidden rounded-md sm:aspect-video"
        >
          <div
            class="transition-scale -z-10
           h-full bg-cover
          bg-center bg-no-repeat duration-500 ease-in-out group-hover:scale-110"
            style="background-image: url('https://porfolio.dev/projects/svgl.webp')"
          >
          </div>
        </div>
        <div class="mt-2 flex flex-wrap gap-1">
          <span
            class="rounded-full bg-[#1a1a1a] px-2 py-1 text-[12px] text-white"
          >
            Next.js</span
          >
          <span
            class="rounded-full bg-[#1a1a1a] px-2 py-1 text-[12px] text-white"
          >
            Tailwind CSS</span
          >
        </div>
      </article>
    </div>
  </div>
</section>
